body {
    background-color: pink;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.greetings h2 {
    color: rgb(126, 57, 117);
}